<!DOCTYPE html>
<html lang="en" ng-app="users-app">

<head>
<title>Users App</title>
<script src="./node_modules/angular/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="./js/services/my-services.js"></script>
<script src="./js/directives/my-directives.js"></script>

<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./styles.css">
</head>

<body>
<h1 class="text-center">Users App</h1>

<div ng-controller="UserController" class="container">
<h2>{{ greet }}</h2>

<!-- {{ users | json }} -->

<button ng-click="clicked()">Get Data</button>

<ul class="list-unstyled">
    <!-- <li class="well" ng-repeat="user in users | limitTo : 2"> -->
    <li class="well" ng-repeat="user in users | orderBy : 'income' ">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img ng-src="{{user.image}}" class="img-responsive img-circle">
            </div>
            <div class="col-xs-6 col-sm-9 col-md-9">
                <h2>{{ user.firstName + " " + user.lastName | uppercase}}</h2>
                <p>Date of Birth : <span ng-bind="user.dob | date"></span></p>
                <p ng-if="user.isWorking">Income : {{ user.income | currency : 'INR' }}</p>
            </div>
        </div>

        <hr>
        <div ng-init="tab = 2">
            <ul class="nav nav-pills">
                <li><a href ng-click="tab = 1">Show Comments</a></li>
                <li><a href ng-click="tab = 2">Add Comments</a></li>
            </ul>
            <br>
            <div ng-show="tab ===1 ">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="comment in user.comments">
                        <span class="badge">Stars : {{ comment.stars }}</span>
                        <blockquote>
                            {{ comment.body}}
                            <cite>by {{ comment.author }} </cite>
                        </blockquote>
                    </li>
                </ul>
            </div>
            <div ng-show="tab ===2 ">

                <!-- 
                    Scope Isolation 
                <p>Greet in Parent : {{greet}}</p>
                <demo-directive greet = "greet" clicked = "clicked()"></demo-directive>
                    -->

                <!-- Element -->
                <my-comment></my-comment>

                <!-- Attribute -->
                <!-- <div my-comment></div> -->

                <!-- Class -->
                <!-- <div class="my-comment"></div> -->

                <!-- Comment Directive -->
                <!-- directive:my-comment -->


                
            </div>

        </div>

    </li>
</ul>

<!-- Custom Filter Demo -->
Intergers : {{ [2,3,4,5,6,7,8,9] | getIntegers}}


</div>



</body>

</html>